<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Habitaciones - OrquideaSuite</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <header>
        <img src="../images/orchid-logo.png" alt="OrquideaSuite Logo">
        <h1>OrquideaSuite - Modificar Habitaciones</h1>
    </header>

    <!-- Incluye aquí el archivo de mensajes -->
    {% include 'usuarios/messages.html' %}

    <a href="{% url 'dashboard' %}" class="btn-menu">Volver al Menú</a>

    <h1>Modificar Habitación</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar</button>
    </form>
    <a href="{% url 'visualizar_habitaciones' %}">Volver a la lista de habitaciones</a>
</body>
</html>
