{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Habitaciones - OrquideaSuite</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <!-- <header>
        <img src="/static/Orchid-logo.jpg" alt="OrquideaSuite Logo">
        <h1>OrquideaSuite - Buscar Habitaciones</h1>
    </header>-->

    <header class="custom-header">
        <div class="custom-header-content">
            <img src="{% static 'images/orchid-logo.png' %}" alt="OrquideaSuite Logo" class="logo-img">
            <h1 class="header-title">Buscar Habitaciones</h1>
        </div>
    </header>

    <!-- Incluye aquí el archivo de mensajes -->
    {% include 'usuarios/messages.html' %}



    <div class="container">
        <h2>Buscar Habitaciones Disponibles</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Buscar</button>
        </form>

        {% if habitaciones_disponibles %}
            <h3>Habitaciones Disponibles</h3>
            <ul>
                {% for habitacion in habitaciones_disponibles %}
                    <li>{{ habitacion.tipo }} - {{ habitacion.numero }} - Capacidad: {{ habitacion.capacidad }} - Precio por noche: {{ habitacion.precio_por_noche }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {% if form.is_bound %}
                <p>No se encontraron habitaciones disponibles para los criterios seleccionados.</p>
            {% endif %}
        {% endif %}

        <a href="{% url 'dashboard' %}" class="btn-dashboard">Volver al Menú</a>
    </div>
</body>
</html>


